*,::after,::before{
box-sizing: border-box
}
body{
margin:0px;
padding;0px;
font-family:sans-serif;
font-size: 24px;
line-height: 1.3;
text-align: left;
background-color: #1D2025;
overflow:auto;
color:white;
}
hr{
box-sizing: content-box;
height: 0;
overflow: visible
}
p{
margin-top: 0;
margin-bottom: 1rem
}
a{
color:white;text-decoration:none;
}
a:hover{
color:yellow;
text-decoration:none;
}
h1{
color:white;
font-size: 25px;
margin:0px;
}
#BOX1{
position:relative;
top:-15px;
left:2px;
width:1338px;/* width:1334px; */
height:64px;
background-color:black;
text-align:left;
border:2px solid #DEDEDC;
border-radius:16px;
margin:0px 0px 0px 0px;
padding:1px;
display:inline-block;
}
#BOX2{
position:relative;
top:-20px;
height:64px;
background-color:transparent;
text-align:left;
margin:0px 0px 0px 2px; 
display:inline-block;
}
#BOX3{
position:relative;
top:0px;
height:64px;
background-color:transparent;
text-align:left;
margin:0px; 
display:inline-block;
}
#search-input{
position:relative;
top:-1px;
width:99.9%;
background-color:black;
color:white;
padding:7px 10px 10px 10px;
font-size:30px;
border:0px;
border-radius:14px;
cursor:pointer;
}
#search-input:focus{
outline:none;
}
#clrHis{
position:relative;
top:-3px;
height:31px;
width:120px;
background-color:black;
outline:none;
margin:0px;
}
#clrFav{
position:relative;
top:-6px;
height:31px;
width:120px;
background-color:black;
margin:0px;
}
button{
position:relative;
margin:0px 0px 3px 5px;
padding:0px 7px 2px 7px;
font-size:16px;
background:black;
color:#f2f2f2;
border-radius:9px;border:1px solid #DEDEDC;
}
button:hover{
border:1px solid #DEDEDC;box-shadow:0 0 0 1px #DEDEDC;
}
button:active{
color:#4a5b86;
border:1px solid #DEDEDC;box-shadow:0 0 0 0px #DEDEDC;
}
button:focus{
outline: none;
}
.leeful{
cursor:pointer;
}
.smaller{
height:29px;
line-height:14px;
font-size:14px;
padding:0px 6px 3px 6px;
border-radius:10px;
border:2px solid #DEDEDC;
}
#favsid{
position:absolute;
max-width:50%;
top:70px;
left:5px;
display:inline-block;
padding-right:10px;
}
#histid{
position:absolute;
max-width:50%;
top:70px;
right:5px;
display:inline-block;
padding-right:10px;
}
#gobut{
margin:0px;
height:64px;
top:0px;
background-color:black;
display:inline-block;
font-size:19px;
font-weight:bolder;
border-radius:10px;border:2px solid #DEDEDC;
}
::-webkit-scrollbar{
width:2px;
height:3px;
border-radius:16px;
}
::-webkit-scrollbar-track{
box-shadow:inset 0 0 2px #black; 
background-color:#1D2025;
}
::-webkit-scrollbar-thumb {
background:grey; 
}
