*,::after,::before{
box-sizing: border-box
}
body{
margin: 0;
font-family:sans-serif;
font-size: 24px;
line-height: 1.3;
text-align: left;
background-color: transparent;
overflow-y:scroll;
color:white;
}
hr{
box-sizing: content-box;
height: 0;
overflow: visible
}
p{
margin-top: 0;
margin-bottom: 1rem
}
a{
color:white;text-decoration:none;
}
h2,h3,h4,h5,h6{
color:white;
font-size: 15px;
margin:0px;
}
.h1,h1{font-size:22px;margin:0px;padding:0 0 0 10px;}
.h2,h2{font-size:18px;}
.h3,h3{font-size:1.75rem;}
.h4,h4{font-size:18px;}
.h5,h5{font-size:15px;}
.h6,h6{font-size:1rem;}

.BOX{
position:relative;
background-color:#062778;
border:2px solid #DEDEDC;
font-size:20px;
}
#BOX1{
top:0px;
width:1334px;
height:64px;
background-color:black;
float:left;
text-align:left;
border-radius:16px;
margin:0px -5px 0px 0px; 
}
#BOX2{
top:0px;
width:190px;
height:64px;
/* float:right; */
background-color:transparent;
display:inline-block;
padding:12px 0px 11px 0px;
border:none;
margin:0px 0px 0px 0px;
text-align:right;
}
#search-input{
position:relative;
/* top:-16px; */
left:5px;
 width:400px; 
background-color:black;
color:white;
padding:7px 10px 10px 5px;
font-size:30px;
border:0px;
border-top-left-radius:16px;
border-bottom-left-radius:16px;
cursor:pointer;
}
#search-input:focus{
outline:none;
width:1273px;
}
#Sall, #Snew{
margin:7px 0px 5px 2px;
}
button{
position:relative;
margin:7px 0px 5px 5px;
padding:0px 7px 2px 7px;
font-size:16px;
background:#1D2025;
color:#f2f2f2;
border-radius:9px;border:1px solid #DEDEDC;
}
button:hover{
border:1px solid #DEDEDC;box-shadow:0 0 0 1px #DEDEDC;
}
button:active{
color:#4a5b86;
border:1px solid #DEDEDC;box-shadow:0 0 0 0px #DEDEDC;
}
button:focus{
outline: none;
}
.leeful{
cursor:pointer;
}
.smaller{
height:29px;
line-height:14px;
font-size:14px;
padding:0px 6px 3px 6px;
border-radius:10px;border:2px solid #DEDEDC;
}
#favsid{
/* background-color:yellow; */
position:absolute;
width:60%;
top:70px;
left:5px;
display:inline-block;

}
#histid{
/* background-color:red; */
position:absolute;
width:40%;
top:70px;
right:5px;
display:inline-block;

}
#infobutz{
margin:5px 0px 0 0;
height:63px;
top:-40px;
/* width: 100px; */
background-color:black;
display:inline-block;
font-size:19px;
font-weight:bolder;
border-radius:10px;border:2px solid #DEDEDC;
}
#showbutz{
position:relative;
display:inline-block;
margin:0px 0px 0px 0px;
}
#Sall{
background-color:black;
position:relative;
top:-18px;
width:120px;
}
#Snew{
background-color:black;
position:relative;
top:-25px;
width:120px;
}
::-webkit-scrollbar{
width:3px;
height:3px;
border-radius:16px;
}
::-webkit-scrollbar-track{
box-shadow:inset 0 0 2px #black; 
}
::-webkit-scrollbar-thumb {
background:black; 
}
