html, body{
margin:auto;
font-family:sans-serif;
font-size:20px;
font-weight:lighter;
text-align:left;
color:#FFFFFF;
background-size:cover;
}
a {
text-decoration:none;
}
.TopTitle {
position:absolute; left:0; right:0; top:0; margin:auto; max-width:100%; max-height:100%;
width:100%;
font-size:22px;
font-weight:lighter;
text-align:center;
margin-top:-8px;
opacity:0.9;
}
.HR1 {
position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
width:95%;
height:30px;
bottom:620px;
font-size:28px;
font-weight:lighter;
opacity:0.7;
}
.FL-Blue {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 bottom: 450px;
 right: 710px;
}
.FL-Gold {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 bottom: 450px;
 right: 136px;
}
.FL-Navy {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 bottom: 450px;
 left: 436px;
}
.FL-Ruby {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 bottom: 450px;
 left: 1011px;
}
.FL-Teal {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 bottom: 160px;
 right: 710px;
}
.FL-Purp {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 bottom: 160px;
 right: 136px;
}
.FL-Pink {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 bottom: 160px;
 left: 436px;
}
.FL-Grey {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 bottom: 160px;
 left: 1011px;
}
.HR2 {
position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
width:95%;
height:30px;
top:10px;
font-size:28px;
font-weight:lighter;
opacity:0.7;
}
.DU-Aqua {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 top: 180px;
 right: 710px;
}
.DU-Grey {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 top: 180px;
 right: 136px;
}
.DU-Rose {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 top: 180px;
 left: 436px;
}
.DU-Dark {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 top: 180px;
 left: 1011px;
}
.HR3 {
position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
width:95%;
height:30px;
top:350px;
font-size:28px;
font-weight:lighter;
opacity:0.7;
}
.PA-Blue {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 top: 520px;
 right: 710px;
}
.PA-Pink {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 top: 520px;
 right: 136px;
}
.PA-Gold {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 top: 520px;
 left: 436px;
}
.PA-Dark {
 position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%;
 width: 241px;
 height: 135px;
 top: 520px;
 left: 1011px;
}